---
---
@import "{{ site.theme }}";
#header {display: none;}
.credits.left {display: none;}
.credits.right {display: none;}
.project-name { font-size: 2.25rem;}
.project-tagline {font-size: 1.75rem;}
#footer_wrap {display: none;}
#forkme_banner {display: none;}
#downloads {display: none;}

section.page-header {
    padding-top: 2em !important;
    padding-bottom: 1em !important;
}